// Fonts
$main-font: 'Montserrat', 'Arial', sans-serif;
// Colors
$main-color: #858585;
$text-dark: #18191d;
$text-ld: #111517;
$text-orange: #ff6b08;
$text-grey: #b9b9b9;
$link-color: #ffffff;
$bc-grey: #f1f1f1;
$footer-text: #fdfefe;
