.footer-box {
    position: relative;
    @media (max-width: 767px) {
        text-align: center;
    }
    padding-top: 38px;
    margin-bottom: 10px;
    
    @media (min-width: 768px) {
        padding-bottom: 40px;
    }

    @media (min-width: 1280px) {
        padding-top: 50px;               
    }

}
.footer {    
    &__link {
        @extend %link;        
    }
    &__logo {
        @media (max-width: 767px) {
            display: inline-block;
        }
        @media (min-width: 768px) {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
        }       
    }
}
.footer-links {
    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;

        &__link:not(:last-child) {
            margin-right: 60px;
        }
    }
    &__link {
        @extend %link;
        &--tel {
            font-size: 18px;
            font-weight: 600;
            color: $text-ld;
            display: flex;
            justify-content: center;

            @media (max-width: 767px) {
                margin-bottom: 22px;
            }            
            @media (min-width: 768px) {
                font-size: 20px;
                line-height: 20px;
            }
            @media (min-width: 1280px) {
                font-size: 27px;
                line-height: 27px;
            }
        }

        &--line {
            position: relative;
            @media (min-width: 768px) {
                &::before {
                    @include psevdo;
                    width: 1px;
                    height: 100%;
                    background-color: $text-grey;
                    position: absolute;
                    top: 0;
                    left: -30px;
                }
            }
        }
    }

    &__span {
        margin-right: 10px;
    }
    &__icon {
        fill: $text-orange;
        width: 20px;
        height: 20px;
        
        @media (min-width: 1280px) {
            width: 32px;
            height: 32px;
        }
    }
    &__img {
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }        
    }
}
.footer-bg {
    background-color: $text-ld;
    padding: 30px 0;

    &__box {
        @media (max-width: 767px) {
            text-align: center;
        }
    }

    &__text {
        font-size: 11px;
        font-weight: 500;

        @media (min-width: 1280px) {
            font-size: 15px;
        }
    }
}